@import url('https://fonts.googleapis.com/css?family=Caveat');

body {
  padding: 0;
  margin: 0;
  font-family: Caveat, arial;
  background-color: #F8F9FA;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 60px;
  box-sizing: border-box;
}

header nav a {
  font-size: 25px;
  text-decoration: none;
  color: #189D5D;
  padding: 5px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

header nav a:hover {
  text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.buy-button {
  color: #D74F48;
  text-transform: none;
  border: 2px solid #D74F48;
  border-radius: 5px;
  margin: 0 20px;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 5px 20px;
}

.buy-button:hover {
  color: #F8F9FA;
  background-color: #D74F48;
  text-shadow: none;
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}

.center-button {
  margin: 40px 0;
  text-align: center;
}

.button-margin {
  margin: 40px 0;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: #F8F9FA;
}

header .logo img {
  width: 160px;
}

.header-logo img {
  max-width: 600px;
  margin-top: 100px;
}

.content {
  margin: auto;
  margin-top: 80px;
  width: 700px;
}

.menu-bututon {
  display: none;
}

body:before {
  content: ' ';
  position: absolute;
  left: 0;
  width: 200px;
  height: 800px;
  z-index: -1;
  top: 100px;
  background-image: url('../images/paintbrushLeft.png');
  background-size: contain;
  background-repeat: no-repeat;
}

body:after {
  content: ' ';
  position: absolute;
  right: 0;
  width: 200px;
  height: 550px;
  z-index: -1;
  top: 500px;
  background-image: url('../images/paintbrushRight.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.sponsors {
  max-width: 100%;
}

.title-text {
  color: #666;
}

.content-text {
  color: #666;
  margin-top: 10px;
  text-align: left;
}

h1 {
  margin: 0 0;
  font-size: 50px;
}

h2 {
  margin: 0 0;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

ul {
  font-family: arial;
}

p {
  color: #666;
  font-family: arial;
}

.devfest {
  background-image: url('../images/devfest_2017.png');
  background-color: #363636;
}

.iwd {
  margin-left: 20px;
  background-image: url('../images/iwd-logo.svg');
  background-color: #40BDB4;
}

.devfest, .iwd {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 5px;
  width: 310px;
  height: 100px;
  transition: all 0.3s ease-in-out;
}

.devfest:hover, .iwd:hover {
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

.bold {
  font-weight: bold;
}

footer {
  font-family: arial;
  color: #666;
  margin: 20px;
  margin-top: 150px;
}

@media screen and (max-width: 856px) {
    body:before, body:after {
      display: none;
    }

    nav {
      display: none;
    }

    nav.right-menu {
      display: inline-block;
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 212px;
      background-color: #EEE;
      padding: 50px 0px;
      text-align: left;
    }

    .nav-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #000000;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
    }

    .nav-background-closed {
      opacity: 0;
    }

    nav.right-menu a {
      display: block;
      padding: 10px 20px;
    }

    nav.right-menu a:hover {
      text-shadow: none;
      background-color: #F6F6F6;
    }

    .menu-button {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url('../images/bars-solid.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
}

@media screen and (max-width: 900px) {
    .content {
      max-width: 500px;
      width: 100vw;
      padding: 10px;
      box-sizing: border-box;
    }

    .header-logo img {
      width: 100%;
    }
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  font-weight: bold;
}

.speaker-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1024px;
  margin: 30px auto;
}

.speaker-card {
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  color: #4a4a4a;
  margin: 30px;
  transition: all 0.3s ease-in-out;
}

.speaker-card:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.speaker-wrapper {
  height: 240px;
  width: 240px;
  background: #172636;
  margin: 0px 0px 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.calendar {
  position: relative;
}

.calendar-item {
  position: relative;
  background-color: #EEE;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin: 5px;
}

.calendar-item .event {
  position: absolute;
  top: 5px;
  left: 100px;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  box-sizing: border-box;
}

.event.two-hour-event {
  height: 195px;
  background-color: #FF9999;
  width: calc(100% - 105px);
}

.event.half-hour-event {
  height: 45px;
  background-color: #BBFFBB;
  width: calc(100% - 115px);
}

.event.second.half-hour-event {
  margin-top: 45px;
}

.event.second.one-hour-event {
  margin-top: 45px;
  height: 105px;
}

.event.one-hour-event {
  height: 90px;
  background-color: #BBDDFF;
  width: calc(100% - 110px);
}

.event.one-hour-event.talk1,
.event.one-hour-event.talk2,
.event.one-hour-event.talk3 {
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
}

.event.second-event {
  left: 120px;
}

.two-hour-event:hover, .one-hour-event:hover, .half-hour-event:hover {
  z-index: 2;
}

.calendar-item .calendar-header {
  position: relative;
  padding: 10px 15px;
  float: left;
}

#speaker-vikram {
  background-image: url('../images/vikram_tiwari.png');
}

#speaker-grant {
  background-image: url('../images/grant_timmerman.jpg');
}

#speaker-aishwarya {
  background-image: url('../images/aishwarya_parasuram.webp');
}

#speaker-queenie {
  background-image: url('../images/queenie_ho.png');
}

#speaker-rebecca {
  background-image: url('../images/rebeca_gallardo.png');
}

#speaker-frances {
  background-image: url('../images/frances_coronel.png');
}

#speaker-terrence {
  background-image: url('../images/terrence_ryan.png');
}

#speaker-meiyi {
  background-image: url('../images/android.png');
}

#speaker-cheney {
  background-image: url('../images/cheney_tsai.webp');
}

#speaker-caren {
  background-image: url('../images/caren_chang.png');
}

#speaker-chloe {
  background-image: url('../images/chloe_condon.png');
}

#speaker-jessica {
  background-image: url('../images/jessica_earley-cha.png');
}

#speaker-alex {
  background-image: url('../images/alex_saveau.png');
}

#speaker-george {
  background-image: url('../images/android.png');
}

#speaker-rachel {
  background-image: url('../images/rachel_ramsay.png');
}

#speaker-shiva {
  background-image: url('../images/shiva_jaini.png');
}

#speaker-jason {
  background-image: url('../images/jason_mayes.png');
}

.speaker-name {
  text-align: center;
}

.left {
  text-align: left;
}

.speaker-detail-wrapper {
  height: 200px;
  width: 200px;
  float: left;
  background: #172636;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  margin: 30px auto;
}

.agenda {
  width: 200px;
  height: 200px;
}

.hour {
  width: 150px;
  height: 150px;
}

.talk-title {
  overflow-wrap: normal;
  font-family: Caveat, arial;
}

.agenda-modal {
  width: 200px;
  height: 200px;
}

.agenda-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.2s;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    overflow: auto;
}

.agenda-detail-wrapper {
  height: 200px;
  width: 200px;
  display: block;
  background: #172636;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  margin: 30px auto;
}

/* The Modal (background) */
.modal {
  text-align: left;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  font-size: 15px;
  font-family: arial;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.speaker-name {
  font-family: Caveat, arial;
  font-size: 30px;
  font-weight: bolder;
}

.speaker-title {
  font-size: 17px;
  font-weight: normal;
  margin: 10px 0;
}

.speaker-bio {
  font-size: 15px;
  font-weight: normal;
  margin: 20px 0;
  line-height: 20px;
}

.speaker-talk-title {
  font-size: 17px;
  font-weight: normal;
  margin: 10px 0;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.2s;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  overflow: auto;
}

/* The Close Button */
#close-btn {
  color: #000;
  position: absolute;
  top: 8px;
  right: 13px;
  font-size: 28px;
}

#close-btn:hover,
#close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
